@import "variables";
@import "mixins"; // === FONT ===
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');
// === STYLE ===
.remove-body-margin {
    margin: 0px -15px 0px -15px ! important;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.bg-fade-30 {
    background-color: #EEE;
}

.logo-band {
    padding-top: 30px;
    padding-bottom: 30px;
}

.widget-sidebar {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .panel {
            margin-bottom: 30px;
        }
        li {
            h5 {
                font-weight: 400;
                color: #333333;
                margin-bottom: 0;
                padding: 18px 25px;
                background-color: #f4f4f4;
            }
        }
    }
}

.block-categories {
    padding: 0 15px;
    ul {
        padding-top: 5px;
        li {
            color: #777777;
            font-size: 15px;
            padding: 10px 0;
            border-bottom: 1px solid #dddddd;
            a {
                color: #777777;
            }
            a:hover {
                color: #282828;
                outline: none;
                text-decoration: none;
            }
        }
    }
}

.page-about {
    background-color: #f4f4f4;
    padding: 90px 0;
    h4 {
        margin: 0;
        padding-bottom: 35px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.05em;
    }
}

.no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

section {
    padding: 30px 0px;
}

.quote {
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 2.2;
}

.footer {
    padding: 60px 0;
    text-align: center;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    h1 {
        letter-spacing: 3px;
        font-family: 'Playfair Display', serif;
        a {
            color: inherit;
            outline: none;
            text-decoration: none;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
    }
}